.DS*
0*.*
1*.*
4*.*
aim*.*
bask*
ctst*
dehy*
error*
fontspec*
koz*
ld*
luaotf*
mann*.*
matt*
rml*.*
viz*
x*.*
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.new
*.nlo
*.old
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.txt
*.vrb
*.xdy
*.tdo
